# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
htmlcov/
.coverage*

# Node
node_modules/
.next/
dist/
coverage/

# Env files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

.specstory
.specstory/**

.cursorindexingignore
